<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ardat.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="com.ardat.moviecatalogue.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="com.ardat.moviecatalogue.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name=".provider.ContentProvider"
            android:authorities="com.ardat.moviecatalogue"
            android:exported="true"
            android:readPermission="com.ardat.moviecatalogue.READ_DATABASE"
            android:writePermission="com.ardat.moviecatalogue.WRITE_DATABASE"/>

        <activity android:name=".activity.MovieDetailActivity" />
        <activity android:name=".activity.TvDetailActivity" />
        <activity android:name=".activity.FavoriteActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.WidgetFavouriteMovie">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_favourite_movie_info" />
        </receiver>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".setting.SettingPref"
            android:theme="@style/AppThemeActionBar"
            android:parentActivityName=".activity.MainActivity" />

        <receiver
            android:name=".setting.MovieDailyReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".setting.MovieUpcomingReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>